<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.github.nashspence.gogurt</string>
  <key>ProgramArguments</key>
  <array>
    <string>__AGENT_ROOT__/bin/gogurt-listener</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GOGURT_MARKER_NAME</key>
    <string>__MARKER_NAME__</string>
    <key>GOGURT_EXECUTABLE</key>
    <string>__GOGURT_EXECUTABLE__</string>
    <key>GOGURT_CONFIG</key>
    <string>__GOGURT_CONFIG__</string>
    <key>GOGURT_ACTIONS_DIR</key>
    <string>__GOGURT_ACTIONS_DIR__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/gogurt.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/gogurt.err.log</string>
</dict>
</plist>
